<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
                /* login.ejs styles */
        body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        }

        .container {
        max-width: 400px;
        margin: 0 auto;
        }

        h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
        }

        form {
            max-width: 500px;
            margin: 20px auto;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          }

        input[type="email"],
        input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        box-sizing: border-box;
        }

        button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        }

        .checkbox {
        margin-bottom: 10px;
        }

        p {
        text-align: center;
        }

        a {
        color: #4caf50;
        text-decoration: none;
        }
    </style>
  </head>
  <body>
    <h1>Login</h1>
    <% if (message) { %>
        <p><%= message %></p>
      <% } %>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <br />
      <input type="password" name="password" placeholder="Password" required />
      <br />
      <label for="remember">
        <input type="checkbox" name="remember" id="remember" /> Remember me
      </label>
      <br />
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Signup</a></p>
  </body>
</html>